// main

@import url("https://use.typekit.net/gnj0stx.css");

/* fonts */
@font--header: brandon-grotesque, helvetica, sans-serif;
@font--content: source-sans-pro, arial, sans-serif;

/* wights */

/* colors */
@color--w: rgba(255, 255, 255, 1);
@color--plc: rgba(250, 114, 104, 1);
@color--db: rgba(35, 104, 150, 1);

/**/
h1 {
  font-family: @font--header;
  font-weight: 900;
}

p {
  font-family: @font--content;
  font-weight: 400;
}
