/****** 
Style sheet for ipushpixels.io
------------------------------------------------*/

* {

}

html {
	font-size: 16px;
}

body {
	font-family: "soleil",sans-serif;
	font-weight: 400;
	color: #4c5662;
	margin: 0;
}


h1 {
	font-weight: 700;
	font-size: 2.125em;
}

p {
	font-size: 1.25em;
}

section {
	height: 100vh;
	width: 100%;
  	display: table;
  	margin: 0;
}

p > strong {
	font-style: 800;
}

h1 > span {
	color: #dd917a;
}

a {
	color: #dd917a;
	text-decoration: none;
}

a:hover {
	color: #e8706a;
}

.hero-img {
	background: #342a28 url("../img/hero-pic.jpg") center top no-repeat;
	background-size: auto 100%;
	width: 50%;
	float: left;
}

.intro {
	width: 50%;
	float: left;
}






/*------------------------------------------------ 
Media Queries
------------------------------------------------*/

@media screen and (min-width: 320px) {
	
	h1 {
		font-size: 2em;
		line-height: 1.25em;

	}

	p {
		font-size: 1em;
		line-height: 1.5em;
	}
	.hero-img {
		display: none;
	}	

	.intro {
		width: 100%;
	}

	.intro > div {
		padding: 1.875em;
		text-align: center;
	}
}

@media screen and (min-width: 410px) {
	
	h1 { font-size: 2.5em;}

	.intro > div {
		text-align: left;
	}
}



@media screen and (min-width: 768px) {

	h1 { 
		font-size: 1.8em;
	}

	p { 
		font-size: 1em; 
		line-height: 1.4em; 
	}

	.hero-img { 
		display: block; 
		width: 40%;
		background-size: auto 60%;
	}

	.intro {
		width: 60%;
	}

	.intro > div {
	padding: 5em 2em 0;
	}

}

@media screen and (min-width: 992px) {

	h1 {
		font-size: 1.875em;
	}

	p {
		font-size: 1.250em;
	}

	.hero-img {
		width: 50%;
		background-size: auto 100%;
	}

	.intro {
		width: 50%;
	}

	.intro > div {
		padding: 7.500em 6.250em 0;
	}
}